<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Configuration>
   <InstanceGroup name="FCS">
        <Instance name="LSA" provider="SQLSERVER" driver="" datasource="INRONSGADI101\MSSQLSERVER2022" user="LSA" password="00E000AC00FF00BE" />
        <Instance name="VTA" provider="SQLSERVER" driver="" datasource="INRONSGADI101\MSSQLSERVER2022" user="VTA" password="00EB00BD00E900A8" />
        <Instance name="ERPV" provider="SQLSERVER" driver="" datasource="INRONSGADI101\MSSQLSERVER2022" user="SYSADM" password="01D1018201DB018801C9018D01C0" />
    </InstanceGroup>
    <InstanceGroup name="_default">
        <Instance name="LSA" provider="SQLSERVER" driver="" datasource="INRONSGADI101\SGADISQL" user="LSA" password="00E000AC00FF00BE" />
        <Instance name="VTA" provider="SQLSERVER" driver="" datasource="INRONSGADI101\SGADISQL" user="VTA" password="00EB00BD00E900A8" />
        <Instance name="ERPV" provider="SQLSERVER" driver="" datasource="INRONSGADI101\SGADISQL" user="SYSADM" password="01D1018201DB018801C9018D01C0" />
    </InstanceGroup>
 
</Configuration>

